#overlap {
  position: absolute;
  z-index: 4;
  /* right: 300px; */
  bottom: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5%;
  margin-right:
  font-size: 30px;
  font-family: 'Dekko', cursive;
  color: #fff;
}
.kontaktColumn{

}

img{
  width: 100%;
  height: 70vh;
}

/* .twoColumn {
  margin-top: 10%;
  margin-right: 5%;
  float: right;
} */

/* Clear floats after the columns */
/* .oneRow:after {
  content: "";
  display: table;
  clear: both;
} */

* {
  box-sizing: border-box;
}

/* body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: auto;
} */

.footer {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-align: center;
  /* font-size: 12px; */
  padding: 15px;
}

/* Float four columns side by side */
/* .column {
  float: left;
  margin-top: 10%; */
      /* margin-left: 4%; */
  /* width: 25%; */
  /* margin-top:3%;
  margin-bottom: 5%; */
  /* padding: 0 10px;
} */
/*
.column {
    float: left;
    height: 60vh;
    width: 50%;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.52);
} */

/* Remove extra left and right margins, due to padding */
.row {
  /* margin: 0 -5px; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.headline {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
  margin-top: 1%;
}

/* .background {
  background: url(https://wallpaperaccess.com/full/36414.jpg) no-repeat 50% fixed / cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
} */

body{
    margin: 0px;
    overflow-x: hidden;
}

.background{
  background: url(https://wallpaperaccess.com/full/36414.jpg) no-repeat 50% fixed / cover;
  /* width: 100%; */
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}

/* body {
  background: url(https://wallpaperaccess.com/full/36414.jpg) no-repeat 50% fixed / cover; */
  /* width: 100%; */
  /* height: 100vh; */
  /* background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
} */

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 6%;
    margin-top: 6%
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 6px;
  text-align: center;
  border-radius: 3%;
  background-color: #f1f1f1;
}

.header {
  /* background-color: #fff; */
    /* background-color: rgba(0, 0, 0, 0.3); */
  /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
  position: fixed;
  width: 98.5%;
  height:16vh;
  z-index: 3;
}

.header ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: #fff; */
}

.header li a {
  display: block;
  margin: 2%;
  padding: 7px 15px;
  border-style: groove;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
  color: #000;
  font-family: 'Rock Salt', cursive;
  background-color: rgba(0,0,0,0.1);
}

.header li a:hover {
  /* background-color: #f4f4f4; */
  background-color: rgba(125, 65, 14, 0.3);
  color: #fff;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
      max-height: 800px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 600px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 7px 15px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


/* responsive form - contact*/
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}

input[type=datetime-local], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}

input[type=submit] {
  background-color : rgba(0, 0, 0, 0.3);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: : rgba(0, 0, 0, 0.3);
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: none ;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6%;
  margin-bottom:5%;
  padding: 20px;
}

.kontaktColumn {
  float: left;
  width: 50%;
  margin-top: 13%;
  margin-bottom:5%;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide,
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 15%;
  }
}
