
* {
  box-sizing: border-box;
}


h2{
  font-size: 30px;
  font-family: 'Dekko', cursive;
  margin: 0;
  color: white;
}

form{
    font-family: 'Dekko', cursive;
    font-size: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 3px double white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.reservation{
  width:100%
}

.footer {
  /* background-color: rgba(0, 0, 0, 0.3); */
  font-family: 'Dekko', cursive;
  color: #fff;
  font-size: 15px;
  text-align: center;
  /* font-size: 12px; */
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.headline {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
  margin-top: 1%;
}

body{
    margin: 0px;
    overflow-x: hidden;
}

.background{
  background: url(https://wallpaperaccess.com/full/36414.jpg) no-repeat 50% fixed / cover;
  /* width: 100%; */
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -2;
  filter: blur(2px);
}

/* body {
  background: url(https://wallpaperaccess.com/full/36414.jpg) no-repeat 50% fixed / cover; */
  /* width: 100%; */
  /* height: 100vh; */
  /* background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
} */

.header {
  /* background-color: #fff; */
    /* background-color: rgba(0, 0, 0, 0.3); */
  /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
  position: fixed;
  width: 98.5%;
  height:16vh;
  z-index: 3;
}

.header ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: #fff; */
}

.header li a {
  display: block;
  margin: 5%;
  padding: 7px 15px;
  border-style: groove;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
  color: #000;
  font-family: 'Rock Salt', cursive;
  background-color: rgba(0,0,0,0.3);
  text-align: center;

}

.header li a:hover {
  /* background-color: #f4f4f4; */
  background-color: rgba(125, 65, 14, 0.3);
  color: #fff;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
      max-height: 800px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 600px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 7px 15px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    /* background-color: rgba(185, 179, 154, 0.83); */

  }
  .header .menu-icon {
    display: none;
  }
}


/* responsive form - contact*/
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}

input[type=datetime-local], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}

input[type=submit] {
    background-color: rgba(197, 90, 10, 0.48);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

input[type=submit]:hover {
  background-color: : rgba(0, 0, 0, 0.3);
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: none ;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 10%;
  margin-bottom:5%;
  padding-left: 25px;
  padding-right: 20px;
}


.reservationPic {
    width: 100%;
    /* height: 95vh; */
    /* margin-top: 21%; */
}
/* Responsive columns */
@media screen and (max-width: 600px) {
  h2{
    font-size: 30px;
  }

  .column {
    width: 100%;
    display: block;
    /* margin-bottom: 6%; */
    margin-top: 30%;
  }
}
